.formContainer {
  width: 100%;
}

.formElement {
  width: 100%;
  margin-bottom: 8px;
}

.headerElement {
  display: flex;
  flex-wrap: wrap;
}

.headerElement > * {
  margin: 4px !important;
  color: white !important;
}

.headerElement span {
  color: white;
}