* {
  font-family: 'Roboto', sans-serif;
}

.smText {
  font-size: 12px;
}

.xsmText {
  font-size: 10px;
}

.marginBot0 {
  margin-bottom: 0px;
}

.marginBot {
  margin-bottom: 8px;
}

.marginTop {
  margin-top: 8px;
}

.centerBlock {
  margin-left: auto;
  margin-right: auto;
}

.centerText {
  text-align: center;
}

.blueBg {
	background-color: red;
	color: white;
}
