.status {
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -20px;
}

.status h3 {
  text-align: center;
  padding-top: 15px;
  color: white;
}

.red {
  background-color: #C62828 !important;
}

.yellow {
  background-color: #F9A825 !important;
}

.green {
  background-color: #2E3D32 !important;
}